input[type=text]{
    padding: .2em;
    font-family: 'Fruktur', cursive;
}

label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

input[type=checkbox]{
    margin-left: 50%;
    cursor: crosshair;
    margin: 0;
}

input[type=button]{
    border-radius: .8em;
    margin-left: 50%;
    float: left;
    background-color: black;
    color: white;
    cursor: pointer;
}

body{
    font-family: 'Fruktur', cursive;
}

#rating{
    font-family: 'Fruktur', cursive;
}

h1{
    text-align: center;
}

#validation-summary{
    margin-left: 40%;
    display: inline-block;
    padding-bottom: 2em;
}

label:nth-of-type(4){
    margin-top: 1em;
} 

form{
    margin-bottom: 5em;
}

#error-list{
    color: red;
    list-style-type: lower-roman;
}

.rating-error{
    font-style: italic;
    cursor: pointer;
    width: 70%;
}

